In [1]:
int(123)

123

In [2]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [4]:
#No argument it will give zero
int()

0

In [5]:
#Shift+Tab >> It will give the full detail of selected cell
print('Hello world')

Hello world

In [10]:
Age=26
print('My Age is:',Age)

My Age is: 26

In [11]:
Age=26
print('My Age is:',{Age})

My Age is: {26}

In [14]:
# here f string is basically for format
Age=26
print(f'My Age is:{Age}')

My Age is:26

In [18]:
# Dot format>> .format() >> it will fill up the empty spaces
name='Sanjay'
age=26
print('My name is {} and my age is {}'.format(name,age))

My name is Sanjay and my age is 26

In [19]:
name='Kiran'
age=31
print('My name is {} and age is {}'.format(age,name))

My name is 31 and age is Kiran

In [21]:
#Placeholder >> wherever be the empty space it will give output exactly at the mentioned cell
name= 'Kiran'
age=31
print('My name is {firstname} and my age is {firstage}'.format(firstname=name,firstage=age))

My name is Kiran and my age is 31

In [24]:
# placeholder >> it will not affecting the order in which it is placed
name= 'Sanjay'
age=26
print('My name is {firstname} and my age is {firstage}'.format(firstage=age,firstname=name))

My name is Sanjay and my age is 26

In [25]:
name='Sanjay kumar'
age=26
degree='BSc'
print('My age is {} I have completed: my degree of {} with the name of {}'.format(age,degree,name))

My age is 26 I have completed: my degree of BSc with the name of Sanjay kumar

In [26]:
name='Kiran Kumari'
age=31
degree='BA Psychology'
print('My age is {firstage} I have completed: my degree of {firstdegree} with the name of {firstname}'.format(firstname=name,firstage=age,firstdegree=degree))

My age is 31 I have completed: my degree of BA Psychology with the name of Kiran Kumari

In [28]:
name='Sanjay Kumar'
age=26
degree='BSc'
print(f'My age is {age} I have completed: my degree of {degree} with the name of {name}')

My age is 26 I have completed: my degree of BSc with the name of Sanjay Kumar

## Control flow
## Decision Making Statements

### if
### if else
### if elif else
### Nested if
### Single Statement Suites

In [31]:
#if statements - three conditions (==,>=,<=)
age=18
if age<=18:
    print('you are eligible to vote')
#if statement is true

you are eligible to vote

In [32]:
age=18
if age<18:
    print('you are not eligible to vote')
#if statement will not execute because it is false

In [33]:
#input
name=input('What is your name')

What is your nameSANJAY KUMAR

In [34]:
name

'SANJAY KUMAR'

In [37]:
#Type Casting >> I am converting string into integer
#a=input('what help I can do')
#type(a) is a string
a=int(input('what is your favourite number'))

what is your favourite number7

In [38]:
type(a)

int

In [40]:
#Task
#Take a input of age
#check whether age>=18 and age<=45
#Display  a message you are young blood
age=int(input('what is your age'))
if age>=18 and age<=45:
    print('You are a young blood')

what is your age21
You are a young blood

In [41]:
#if else statement
age=int(input('what is your age'))
if age>=18 and age<=45:
    print('You are a young blood')
else:
    print('You are a man')

what is your age17
You are a man

In [45]:
#mall- input the product price
#product>1000Rs 20%off
#print the product price after removing the discount
#product<=1000Rs 30%off
#print the product price after removing the discount
_product=int(input('product price'))
if _product>1000:
    print('the price of the product is {}'.format(_product*0.8))
else:
    print('the price of the product is {}'.format(_product*0.7))

product price4000
the price of the product is 3200.0

In [46]:
#mall- input the product price
#product>1000Rs 20%off
#print the product price after removing the discount
#product<=1000Rs 30%off
#print the product price after removing the discount
_product=int(input('product price'))
if _product>1000:
    print('the price of the product is {}'.format(_product*0.8))
else:
    print('the price of the product is {}'.format(_product*0.7))

product price1500
the price of the product is 1200.0

In [48]:
int((20/100)*1500)

300

In [51]:
(30/100)*10

3.0

In [53]:
_product=int(input('product price'))
if _product>1000:
    print(f'the price of the product is {_product*0.8}')
else:
    print(f'the price of the product is {_product*0.7}')

product price2000
the price of the product is 1600.0

In [55]:
(20/100)*2000

400.0

In [59]:
#mall- input the product price
#product>3000Rs 20%off
#print the product price after removing the discount
#product>=2000Rs and <=3000Rs 30%off
#print the product price after removing the discount
#product<=1000Rs and <=2000Rs 40%off
#print the product price after removing the discount
price=int(input('price of product'))
if price>3000:
    print('the price of the product is {}'.format(price*0.8))
elif price>=2000 and price<=3000:
    print('the price of the product is {}'.format(price*0.7))
else:
    print('the price of the product is {}'.format(price*0.6))

price of product5000
the price of the product is 4000.0

In [61]:
#mall- input the product price
#product>3000Rs 20%off
#print the product price after removing the discount
#product>=2000Rs and <=3000Rs 30%off
#print the product price after removing the discount
#product>=100Rs and <=2000Rs 40%off
#print the product price after removing the discount
price=int(input('price of product'))
if price>3000:
    print('the price of the product is {}'.format(price*0.8))
elif price>=2000 and price<=3000:
    print('the price of the product is {}'.format(price*0.7))
elif price>=100 and price<=2000:
    print('the price of the product is {}'.format(price*0.6))
else:
    print('Lets drink tea')

price of product55
Lets drink tea

# Nested if>>
## if inside if

In [63]:
#mall- input the product price
#product>3000Rs 20%off
#print the product price after removing the discount
#product>=2000Rs and <=3000Rs 30%off
#print the product price after removing the discount
#price==2999
#product>=100Rs and <=2000Rs 40%off
#print the product price after removing the discount
price=int(input('price of product'))
if price>3000:
    print('the price of the product is {}'.format(price*0.8))
elif price>=2000 and price<=3000:
    print('the price of the product is {}'.format(price*0.7))
if price==2999:
    print('Congratulations you are eligible for gift')
elif price>=100 and price<=2000:
    print('the price of the product is {}'.format(price*0.6))
else:
    print('Lets drink tea')

price of product2999
the price of the product is 2099.2999999999997
Congratulations you are eligible for gift

In [64]:
#Comparision operator
True==True

True

In [66]:
#mall- input the product price
#product>3000Rs 20%off
#print the product price after removing the discount
#product>=2000Rs and <=3000Rs 30%off
#print the product price after removing the discount
#price==2999
#product>=100Rs and <=2000Rs 40%off
#print the product price after removing the discount
price=int(input('price of product'))
if price>3000:
    if price==4000:
        print('Congratulations you get a Goa trip')
    print('the price of the product is {}'.format(price*0.8))
elif price>=2000 and price<=3000:
    print('the price of the product is {}'.format(price*0.7))
if price==2999:
    print('Congratulations you are eligible for gift')
elif price>=100 and price<=2000:
    print('the price of the product is {}'.format(price*0.6))
else:
    print('Lets drink tea')

price of product4000
Congratulations you get a Goa trip
the price of the product is 3200.0
Lets drink tea

In [67]:
#Single Statement Suites
val=int(input('Enter the number'))
if val<=999:print('Value is less than equal to 999')
else:
    print('go home')

Enter the number1000
go home

In [68]:
val=int(input('Enter the number'))
if val<=999:print('Value is less than equal to 999')
else:
    print('go home')

Enter the number786
Value is less than equal to 999

# Loop Statement
### While loop
### For loop
### Nested loop
### Loop control (break,continue,pass)

In [78]:
#while loop>> Iterative purpose
age=25
while age<=40:
    age=age+1 :
    print(age)

SyntaxError: invalid syntax (<ipython-input-78-2134f0c6d4b9>, line 4)

In [79]:
joining_age=25
while joining_age<=40:
    joining_age=joining_age +1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41

In [80]:
#while loop >>While-Else condition
joining_age=25
while joining_age<=40:
    joining_age=joining_age +1
    print(joining_age)
else:
    print('Its time for upgradation')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
Its time for upgradation

# Doubt

In [104]:
#ATM machine with 1000Rs
amount=1000
while  amount=0:
    amount=amount-100
    print(amount)
else:
    print('put more money bank people')

SyntaxError: invalid syntax (<ipython-input-104-84b2dbe4e5cc>, line 3)

# For Loop

In [105]:
#for loop >> iterating/traversing through the collection
lst=['sanjay',1,2,3,4,'mango','banana']
lst

['sanjay', 1, 2, 3, 4, 'mango', 'banana']

In [106]:
type(lst)

list

In [107]:
for x in lst:
    print(x)

sanjay
1
2
3
4
mango
banana

In [108]:
fruits_lst=['mango','banana','apple','grapes','kiwi']
fruits_lst

['mango', 'banana', 'apple', 'grapes', 'kiwi']

In [109]:
for y in fruits_lst:
    print(y)

mango
banana
apple
grapes
kiwi

In [111]:
fruits_lst=['mango','banana','apple','grapes','kiwi']

In [113]:
for a in fruits_lst:
    print(a)
    if a=='mango':
        print('cherry is a fruit')

mango
cherry is a fruit
banana
apple
grapes
kiwi

In [114]:
fruits="mango"
for x in fruits:
    print(x)

m
a
n
g
o

In [115]:
fruits[2]

'n'

# Range

In [116]:
#Range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [117]:
#here third one is step size
for i in range(2,10,3):
    print(i)

2
5
8

# NESTED LOOPS

In [118]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')

****************************

In [119]:
#In order to make this better
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='\n')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [124]:
# \r >> means it will go to the next line
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

*
**
***
****
*****
******
*******

In [125]:
# \n >> is for new line
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\n')

*

**

***

****

*****

******

*******

# Loop Control- Break & Continue

In [129]:
fruits_list=['apple','cherry','mango','banana','strawberry']

In [130]:
for i in fruits_list:
    if i=='apple':
        print('apple is tasty')
        print(i)

apple is tasty
apple

In [136]:
#now if I use>> Break
for i in fruits_list:
    if i=='mango':
        print('take your banana back')
        break
    print(i)

apple
cherry
take your banana back

In [134]:
#now if I use>>pass
for i in fruits_list:
    if i=='mango':
        print('I love mango')
        pass
    print(i)

apple
cherry
I love mango
mango
banana
strawberry

In [135]:
#now if we use>>continue
for i in fruits_list:
    if i=='mango':
        print('I love mango')
        continue
    print(i)

apple
cherry
I love mango
banana
strawberry